* {
    margin: 0;
    padding: 0;
}

#pokemon-image-div {
    text-align: center;
}

#grid {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 200px);
    justify-content: center;
}

#grid div {
    
}