* {
    margin: 0;
    padding: 0;
}

#about-pokemon {
    position: relative;
    flex-basis: 100%;
    height: 100vh;
    background-image: url(../../src/assets/Poké_Ball_icon_BG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: scroll;
}

#about-pokemon::-webkit-scrollbar {
    display: none;
}

#main-pokemon-flex {
    display: flex;
    margin: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.main-pokemon-flex-child {
    flex-basis: 50%;
    align-self: center;
}

#pokemon-name {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

#pokemon-image-div {
    text-align: center;
    width: 100%;
}

.pokemonImage {
    visibility: hidden;
}

#grid {
    display: grid;
    grid-template: repeat(6, 50px) / repeat(1, 500px);
}

#grid div {
    text-align: right;
}

.stats-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.stats-name {
    flex-basis: 30%;
}

.stats-name h3 {
    font-weight: 400;
}

.stats-value {
    flex-basis: 10%;
}

.stats-value h3 {
    font-weight: 500;
    text-align: center;
}

.stats-bar {
    flex-grow: 1;
    border-radius: 1rem;
    background-color: rgb(225, 225, 225);
}

.stats-bar div{
    height: 0.75rem;
    border-radius: 1rem;
}

.visible {
    visibility: visible;
}

.preLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    animation: rotate 1s linear infinite;
}

#types-div {
    margin: 2rem 1rem;
    text-align: center;
}

#types-div span {
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.2rem;
}

#types-div span:nth-child(1){
    margin-right: 1rem;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.type-normal {
    background-color: #aa9
}

.type-fire {
    background-color: #f42
}

.type-water {
    background-color: #39f
}

.type-electric {
    background-color: #fc3
}

.type-grass {
    background-color: #7c5
}

.type-ice {
    background-color: #6cf
}

.type-fighting {
    background-color: #b54
}

.type-poison {
    background-color: #a59
}

.type-ground {
    background-color: #db5
}

.type-flying {
    background-color: #89f
}

.type-psychic {
    background-color: #f59
}

.type-bug {
    background-color: #ab2
}

.type-rock {
    background-color: #ba6
}

.type-ghost {
    background-color: #66b
}

.type-dragon {
    background-color: #76e
}

.type-dark {
    background-color: #754
}

.type-steel {
    background-color: #aab
}

.type-fairy {
    background-color: #e9e
}

.type-curse {
    background-color: #698
}

.type-color-normal {
    color: #aa9
}

.type-color-fire {
    color: #f42
}

.type-color-water {
    color: #39f
}

.type-color-electric {
    color: #fc3
}

.type-color-grass {
    color: #7c5
}

.type-color-ice {
    color: #6cf
}

.type-color-fighting {
    color: #b54
}

.type-color-poison {
    color: #a59
}

.type-color-ground {
    color: #db5
}

.type-color-flying {
    color: #89f
}

.type-color-psychic {
    color: #f59
}

.type-color-bug {
    color: #ab2
}

.type-color-rock {
    color: #ba6
}

.type-color-ghost {
    color: #66b
}

.type-color-dragon {
    color: #76e
}

.type-color-dark {
    color: #754
}

.type-color-steel {
    color: #aab
}

.type-color-fairy {
    color: #e9e
}

.type-color-curse {
    color: #698
}

@media (max-width: 1090px) {
    .main-pokemon-flex-child {
        flex-basis: unset;
    }

    #grid {
        grid-template: repeat(3, 50px) / repeat(2, 250px);
        gap: 1rem;
    }

    #grid div {
        text-align: left;
    }

    #pokemon-image-div img {
        width: 80%;
    }
}